# This is a basic workflow to help you get started with Actions

name: Get Latest Version And Publish

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Install AU
      run: cinst au

    - name: Get and Upload Packages
      run: |
        cd mysql-python
        choco pack
        choco install --no-progress mysql-python -source "'.;https://chocolatey.org/api/v2/'"
        choco uninstall -y mysql-python
        cd ../
        cd love2d
        choco pack
        choco install --no-progress love2d -source "'.;https://chocolatey.org/api/v2/'"
        Test-Path -Path "C:\Program Files\LOVE"
        choco uninstall -y love2d
        Test-Path -Path "C:\Program Files\LOVE"
        cd ../
        cd travis-cli
        choco install --no-progress travis-cli -source "'.;https://chocolatey.org/api/v2/'"
        choco uninstall -y travis-cli
    # Runs a set of commands using the runners shell
    - uses: actions/upload-artifact@v2
      with:
        name: chocologs
        path: C:\ProgramData\chocolatey\logs\chocolatey.log
