name: Test Packages

on:
  push:
    branches:
      - master
  workflow_dispatch:
  release:

jobs:
  test:
    runs-on: windows-latest
    env:
      au_Push: "false"
    steps:
    - uses: actions/checkout@v6

    - name: Install AU
      run: |
        choco install --no-progress chocolatey-au
    - name: Test mysql-python
      run: |
        cd mysql-python
        choco pack
        choco install --no-progress mysql-python -source "'.;https://chocolatey.org/api/v2/'"
        choco uninstall -y mysql-python
        cd ../
    - name: Test love.install
      run: |
        cd love.install
        choco pack
        choco install --no-progress love.install -source "'.;https://chocolatey.org/api/v2/'"
        Test-Path -Path "C:\Program Files\LOVE"
        choco uninstall -y love.install
        Test-Path -Path "C:\Program Files\LOVE"
        cd ../
    - name: Test travis
      run: |
        cd travis
        choco pack
        choco install --no-progress travis -source "'.;https://chocolatey.org/api/v2/'"
        choco uninstall travis
        cd ../
    - name: Test love.portable
      run: |
        cd love.portable
        choco pack
        choco install --no-progress love.portable -source "'.;https://chocolatey.org/api/v2/'"
        choco uninstall -y love.portable
        cd ../
    - name: Test sphinx
      run: |
        cd sphinx
        choco pack
        choco install --no-progress sphinx -source "'.;https://chocolatey.org/api/v2/'"
        choco uninstall -y sphinx
        cd ../
    - name: Test scc
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        cd scc
        .\update.ps1
        tree /F /A tools
        choco pack
        choco install --no-progress scc -source "'.;https://chocolatey.org/api/v2/'"
        choco uninstall scc
        cd ../
    # Runs a set of commands using the runners shell
    - uses: actions/upload-artifact@v5
      with:
        name: chocologs
        path: C:\ProgramData\chocolatey\logs\chocolatey.log
  test-manim-latex:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
         python-version: 3.11.9
    - name: Install Python
      run: |
        choco install python3 --no-progress --version=3.11.9
    - name: Install Manim
      run: |
        choco install --no-progress manimce
        cd "manim-latex"
        choco pack
        choco install --no-progress manim-latex -source "'.;https://chocolatey.org/api/v2/'"
        cd ../

    - name: Install Manim and Manim-Tex and test
      run: |
        $ErrorActionPreference = 'Stop'
        $env:PATH="C:\tools\TinyTeX\bin\windows;$env:PATH"
        pip install manim
        python -m manim checkhealth

    - uses: actions/upload-artifact@v5
      with:
        name: chocologs
        path: C:\ProgramData\chocolatey\logs\chocolatey.log

  manim_test:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
         python-version: "3.11.9"
    - name: Make choco Package
      run: |
        cd "manimce"
        choco pack
        choco install --no-progress ffmpeg
        choco install --no-progress python --version=3.11.9
        choco install --no-progress manimce --source "."
    - name: Test Generated Files
      shell: cmd
      continue-on-error: true
      run: |
        set PATH=C:\tools\Manim\Scripts;%PATH%
        where manim
        where manimce
        manim --help
        curl -L https://raw.githubusercontent.com/ManimCommunity/manim/master/example_scenes/basic.py -O basic.py
        manim basic.py SquareToCircle
        choco uninstall -y manimce
    - name: Upload Logs if failes
      uses: actions/upload-artifact@v5
      if: ${{ failure() }}
      with:
        name: chocologs-manim-failed
        path: C:\ProgramData\chocolatey\logs\chocolatey.log
    - name: Upload Logs
      uses: actions/upload-artifact@v5
      with:
        name: chocologs-manim-success
        path: C:\ProgramData\chocolatey\logs\chocolatey.log
  
  nim_test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set Up
      shell: pwsh
      run: |
        cd nim
        $github_api_url = 'https://api.github.com/repos/nim-lang/Nim/tags'
        function global:au_GetLatest {
          $contentFetched = Invoke-WebRequest $github_api_url | ConvertFrom-Json
          $stableRelease = $contentFetched[0]
          $version = $stableRelease.name.substring(1) 
          $url32 = "https://nim-lang.org/download/nim-$($version)_x32.zip"
          $url64 = "https://nim-lang.org/download/nim-$($version)_x64.zip"
          return @{ Version = $version; URL64 = $url64; URL32 = $url32; }
        }
        $versions = au_GetLatest
        curl -L "$($versions.URL64)" -o tools\nim-$($versions.Version)_x64.zip
        curl -L "$($versions.URL32)" -o tools\nim-$($versions.Version)_x32.zip
        tree /A /F
        choco pack
        echo "C:\tools\Nim\nim-$($versions.Version)\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    - name: Install
      shell: pwsh
      run: | 
        choco install --no-progress nim --source "'.;https://chocolatey.org/api/v2/'"
    - name: Smoke Tests
      shell: pwsh
      working-directory: ${{ runner.temp }}
      run: |
        echo 'echo("hello")' > hello.nim
        nim compile --verbosity:0 hello.nim
        ./hello.exe

    - name: Uninstall
      run: |
        choco uninstall nim -y
    - name: List
      run: |
        tree C:\tools
    - name: Upload Logs if failes
      uses: actions/upload-artifact@v5
      if: ${{ failure() }}
      with:
        name: chocologs-nim-failed
        path: C:\ProgramData\chocolatey\logs\chocolatey.log
    - name: Upload Logs
      uses: actions/upload-artifact@v5
      with:
        name: chocologs-nim-success
        path: C:\ProgramData\chocolatey\logs\chocolatey.log

