name: Docker Tests

on:
  push:
  workflow_dispatch:
  release:

jobs:
  admin-install:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v6
    - name: Manim Docker Test - AllUserPythonInstalled
      shell: pwsh
      run: |
        _scripts/Test-Manim.ps1 $PWD.path ManimAllUsers.dockerfile
  
  user-install:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v6
    - name: Manim Docker Test - ManimOnlyUserInstall
      shell: pwsh
      run: |
        _scripts/Test-Manim.ps1 $PWD.path ManimOnlyUserInstall.dockerfile

  fresh-no-python:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v6
    - name: Manim Docker Test - ManimNoPython
      shell: pwsh
      run: |
        _scripts/Test-Manim.ps1 $PWD.path ManimNoPython.dockerfile
