name: Docker Tests

on:
  push:
  workflow_dispatch:
  release:

jobs:
  admin-install:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2
    - name: Manim Docker Test - AllUserPythonInstalled
      shell: pwsh
      run: |
        _scripts/Test-Manim.ps1 $PWD.path ManimAllUsers.dockerfile
  
  user-install:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2
    - name: Manim Docker Test - AllUserPythonInstalled
      shell: pwsh
      run: |
        _scripts/Test-Manim.ps1 $PWD.path ManimOnlyUserInstall.dockerfile
